.switcher {
  position: relative;
  margin-left: 1rem;
}

.dropbtn {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-bg-color);
  color: white;
  border: 1px solid var(--primary-color);
  border-radius: 1em;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.dropbtn:hover {
  background-color: var(--primary-color);
  color: var(--primary-bg-color);
}

.dropdown-content {
  position: absolute;
  top: 2.5rem;
  right: 0;
  background-color: var(--primary-bg-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.75em;
  min-width: 5rem;
  z-index: 3000;
  overflow: hidden;

  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.dropdown-content button {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
  background: none;
  border: none;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 0.85rem;
}

.dropdown-content button:hover {
  background-color: var(--primary-color);
  color: var(--primary-bg-color);
}

.dropbtn img {
  width: 22px;
  height: 16px;
  object-fit: cover;
  border-radius: 2px;
}

.dropdown-content img {
  width: 20px;
  height: 14px;
  border-radius: 2px;
}

@media (max-width: 1030px) {
  .switcher {
    margin-left: 0;
  }

  .dropdown-content {
    position: fixed;
    top: 4rem;
    right: 0.3rem;
    left: auto;
    max-width: calc(100vw - 2rem);
  }
}
