* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.page-header {
  margin-top: 5rem;
  text-align: center;
}

.route-page-wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.map-container {
  height: 600px;
  width: 100%;
  margin-top: 2rem;
  display: block;
}

.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}

.page-layout {
  display: grid;
  grid-template-columns: 4fr 6fr;
  background-color: var(---primary-bg-color);
}

.trail-container {
  display: grid;
  /* Automatikus oszlopkiosztás: minimum 320px, maximum amennyi kifér */
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2rem;
  padding: 1.5rem;
  max-width: 1300px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .page-layout {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
  }
}
